<div class="auth">
  <ion-content>
    <div class="image-container">
      <img width="30%" src="../../../assets/images/logo-blue.png" alt="image" />
    </div>
    <div class="heading-container">
      <h1 class="bold-text title">Verification</h1>    
      <p *ngIf="email" class="light-text subtitle">We have just sent a code to {{ email }}</p>
    </div>
  
    <div class="input-group">
      <div class="inputBox">
        <div class="input shadow">
          <input #first type="number" maxlength="1" 
            (keyup)="onDigitInput($event, second, null)"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
            [(ngModel)]="verifyModel.first"/>
        </div>
        <div class="input shadow">
          <input #second type="number" maxlength="1" 
            (keyup)="onDigitInput($event, third, first)"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            [(ngModel)]="verifyModel.second"/>
        </div>
        <div class="input shadow">
          <input #third type="number" maxlength="1" 
          (keyup)="onDigitInput($event, fourth, second)"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            [(ngModel)]="verifyModel.third"/>
        </div>
        <div class="input shadow">
          <input #fourth type="number" maxlength="1" 
          (keyup)="onDigitInput($event, null, third)"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            [(ngModel)]="verifyModel.fourth"/>
        </div>
      </div>
    </div>
  
    <p class="text-center">Didn't receive a code? &nbsp;&nbsp; <span (click)="resendCode()"><a>Resend</a></span></p>
    <br><br>
    <ion-button class="shadow" type="submit" expand="block" shape="round" size="large" (click)="submit()">Confirm</ion-button>
    <br><br>
    <div class="text-center">
      <span>
        <span (click)="cancel()" class="primary bold-text button">Cancel</span>
      </span>
    </div>
  </ion-content>
</div>

