<ion-content>
  <div class="heading-container">
    <h1>Reset Password</h1>    
    <p>Enter the new password</p>
  </div>

  <form [formGroup]="passwordForm">
    <div class="input-group">
      <div class="group">
        <ion-item lines="none">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" autocapitalize="on" formControlName="password"></ion-input>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </ion-item>
        <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
          <span *ngIf="password.errors?.required">Password is required</span>
          <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
        </div>
      </div>
      <div class="group">
        <ion-item lines="none">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" autocapitalize="on" formControlName="confirmPassword"></ion-input>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </ion-item>
        <div *ngIf="confirmPassword.value !== '' && !passwordsMatch && (confirmPassword.dirty || confirmPassword.touched)" class="errors">
          <span *ngIf="!passwordsMatch">Passwords do not match</span>
        </div>
      </div>
    </div>
    <ion-button type="submit" expand="block" [disabled]="!passwordForm.valid && !passwordsMatch" (click)="submit()">Submit</ion-button>
    <br><br>
    <ion-button type="button" expand="block" color="dark" fill="clear" (click)="cancel()">Cancel</ion-button>
  </form>
</ion-content>
