ion-content {
    --padding-top: 10%;
    --padding-start: 10%;
    --padding-end: 10%;
    height: 100vh;
}

.input-group {
    overflow: hidden;
    margin-bottom: 15px;
}
 
.errors {
    font-size: small;
    color: var(--ion-color-danger);
    position: absolute;
    right: 15%;
}

.group {
    margin-bottom: 1.5rem;
}

/*
    ion item customize
    item-has-focus
*/

:host {
    ion-icon {
        position: absolute;
        right: 8%;
        top: 45%;
        z-index: 9999;
        font-size: 30px
    }
    ion-icon.correct {
        color: var(--ion-color-primary)
    }
    ion-icon.incorrect {
        color: var(--ion-color-danger);
    }
    ion-item {
        border-bottom: 2px solid #f7f8fa;
        --background: transparent;
        --padding-start: 0px;
        --padding-end: 0px;
    }

    ion-input {
        --background: var(--ion-color-secondary);
        margin-top: 12px;
        border-radius: 25px;
        --padding-bottom: 18px;
        --padding-top: 18px;
        --padding-start: 10px;
        --padding-end: 10px;
        text-indent: 1em;
        font-size: 16px;
        box-shadow: 0px 4px 10px rgb(0 0 0 / 3%);
    }

    ion-label {
        font-size: 19px
    }
    ion-button {
        text-transform: none;
        font-size: 16px;
        font-family: "dmsans-regular", Arial, Helvetica, sans-serif;
    }
}