<ion-content>

  <div class="heading-container">
    <h1>Register</h1>
    <p>Please register to continue</p>
  </div>

  <form [formGroup]="registerForm">
    <div class="input-group">
      <div class="group">
        <ion-item lines="none">
          <ion-label position="floating">First Name</ion-label>
          <ion-input type="text" autocapitalize="on" formControlName="firstName"></ion-input>
          <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-item>
        <div *ngIf="(firstName.dirty || firstName.touched) && firstName.errors" class="errors">
          <span *ngIf="firstName.errors?.required">First Name is required</span>
        </div>
      </div>
      <div class="group">
        <ion-item lines="none">
          <ion-label position="floating">Last Name</ion-label>
          <ion-input type="text" autocapitalize="on" formControlName="lastName"></ion-input>
          <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-item>
        <div *ngIf="(lastName.dirty || lastName.touched) && lastName.errors" class="errors">
          <span *ngIf="lastName.errors?.required">Last Name is required</span>
        </div>
      </div>
      <div class="group">
        <ion-item lines="none">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
        </ion-item>
        <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
          <span *ngIf="email.errors?.required">Email is required</span>
          <span *ngIf="email.errors?.email">Email is invalid</span>
        </div>
      </div>
      <div class="group">
        <ion-item lines="none">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" autocapitalize="on" formControlName="password"></ion-input>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </ion-item>
        <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
          <span *ngIf="password.errors?.required">Password is required</span>
          <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
        </div>
      </div>
      <div class="group">
        <ion-item lines="none">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" autocapitalize="on" formControlName="confirmPassword"></ion-input>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </ion-item>
        <div *ngIf="confirmPassword.value !== '' && !passwordsMatch && (confirmPassword.dirty || confirmPassword.touched)" class="errors">
          <span *ngIf="!passwordsMatch">Passwords do not match</span>
        </div>
      </div>
    </div>
 
    <ion-button type="submit" expand="block" [disabled]="!registerForm.valid" (click)="register()">Register</ion-button>
    <br><br>
    <ion-button type="button" expand="block" color="dark" fill="clear" (click)="back()">Back
    </ion-button>
  </form>
 
</ion-content>
