::ng-deep .swiper-pagination-bullet {
    background-color: rgba(171, 171, 171, .95);
}

::ng-deep .swiper-pagination-bullet-active {
    background-color: rgba(171, 171, 171, 1);
}

hr {
    background-color: rgba(171, 171, 171, .35);
    margin: 2% 8%;
}