<ion-header>
  <app-navigation-bar [title]="'Dashboard'"></app-navigation-bar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-start heading">
    <ion-col>
      <h2>
        <strong>{{ getConfigurationTitle()[0] }}</strong> {{ getConfigurationTitle()[1] }}
      </h2>
      <p class="subtitle light-text">
        {{ selectedWeek }}
      </p>
    </ion-col>
  </ion-row>
  <swiper
      #swiper
      [slidesPerView]="1"
      [spaceBetween]="50"
      [pagination]="{dynamicBullets: true, dynamicMainBullets: 1}"
      [initialSlide]="activeIndex"
      (transitionEnd)="transitionEnd($event)"
    >
    <ng-container *ngFor="let item of graphData?.data">
      <ng-template swiperSlide>
        <div class="mb-1" style="margin: 5% 0;">
          <ced-bar-graph
            [animation]="true"
            [data]="item"
            [selectedGraph]="item?.selected"
            [selectedDay]="selectedDay"
            (daySelected$)="selectedDayEmitted($event, item)"></ced-bar-graph>
        </div>
      </ng-template>
    </ng-container>
    </swiper>

  <!-- <ion-button (click)="logout()">Logout</ion-button> -->
</ion-content>
