<div class="auth">
  <ion-content>

    <div class="image-container">
      <img width="30%" src="../../../assets/images/logo-blue.png" alt="image" />
    </div>
  
    <div class="heading-container">
      <h1 class="bold-text title">Forget Password?</h1>
      <p class="light-text subtitle">Please provide an email</p>
    </div>
  
    <form [formGroup]="emailForm">
      <div class="input-group">
        <div class="group">
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" formControlName="email">
            <ion-icon *ngIf="(email.dirty || email.touched) && !email.errors" class="correct" name="checkmark-circle-outline" slot="end"></ion-icon>
            <ion-icon *ngIf="(email.dirty || email.touched) && email.errors" class="incorrect" name="close-circle-outline" slot="end"></ion-icon>
          </ion-input>

          <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
            <span *ngIf="email.errors?.required">Email is required</span>
            <span *ngIf="email.errors?.email">Email is invalid</span>
          </div>
        </div>
      </div>
  
      <ion-button type="submit" expand="block" shape="round" size="large" (click)="submit()">Submit</ion-button>
      <br><br>
      <div class="text-center">
        <span>
          <span (click)="back()" class="primary bold-text button">Cancel</span>
        </span>
      </div>
  
    </form>
  </ion-content>
</div>

