<ion-content>

  <div class="heading-container">
    <h1>Forget Password?</h1>
    <p>Please provide an email</p>
  </div>

  <form [formGroup]="emailForm">
    <div class="input-group">
      <div class="group">
        <ion-item lines="none">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
        </ion-item>
        <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
          <span *ngIf="email.errors?.required">Email is required</span>
          <span *ngIf="email.errors?.email">Email is invalid</span>
        </div>
      </div>
    </div>

    <ion-button type="submit" expand="block" [disabled]="!emailForm.valid" (click)="submit()">Submit</ion-button>
    <br><br>
    <ion-button type="button" expand="block" color="dark" fill="clear" (click)="back()">Back
    </ion-button>

  </form>

</ion-content>
